*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "roboto";
}
.main-container{
    width: 1349px;
    height: 138px;  
    top: 0px;
    position: sticky;
    background-color: white;
    border-bottom: #d8dfe0;
    z-index: 1;
    
}
.nav-p1{
    display: flex;
    align-items: center;
    padding: 20px;
}

.Locationbar-main{
    width: 302px;
    height: 50px;
    border: 1px;
    border-style: groove;
    border-color: #d8dfe0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.navbar-part2{
    display: flex;
    
}
.search-nav{
    display: flex;
    width: 760px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px;
    border-style: groove;
    border-color: #d8dfe0;
    
}



.sec1-main{
    width: 1280px;
    height: 196px;
    
}

